.Topmenu{
    height:90px;
    width:100%;
    position:fixed;
    background-color: white;
    top:0;
    left:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px;
    box-sizing: border-box;
    z-index: 90;
    border-bottom: 4px solid rgb(193, 245, 5);
    /* box-shadow: 0 0 3px 0 black; */
}

.Topmenu nav{
    height: 100%
}

.Logo{
    height: 80%;
}

@media (max-width: 499px){
    .DesktopOnly{
        display: none;
    }
}